<p id="notice"><%= notice %></p>

<p>
  <strong>Item name:</strong>
  <%= @menu_item.item_name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @menu_item.price %>
</p>

<%= link_to 'Edit', edit_menu_item_path(@menu_item) %> |
<%= link_to 'Back', menu_items_path %>
