<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :First_Name %>
    <%= form.text_field :first_name, id: :first_name %>
  </div>

  <div class="field">
    <%= form.label :Last_Name %>
    <%= form.text_field :last_name, id: :last_name %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :user_user_id %>
  </div>

  <div class="field">
    <%= form.label "Position:" %>
    <%= form.collection_select :position_id, Position.all, :id, :position %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
