<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- id: :order_name -->
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name  %>
  </div>

  <div class="field">
    <%= form.label "Date of Sale:" %>
    <%= form.date_select :date_of_sale, id: :order_date_of_sale %>
  </div>

  <div class="field">
    <%= form.label "What are you ordering?" %>
    <%= form.collection_select :menu_item_id, MenuItem.all, :id, :item_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
