<p id="notice"><%= notice %></p>


<h1>Orders</h1>


<script>
  alert("Make sure you meet your daily sales quota!");
</script>

<!-- form for the filter field, it finds the orders controller, and then
does the action filter, start date and end date are the params it finds. -->
<%= form_for :post, url: url_for(controller: 'orders', action: "filter") do |f| %>
 *MUST put start date and end date.
  <div class="field">
    <%= label_tag "Start Date" %>
    <%= date_field_tag :start_date %>
  </div>

  <div class="field">
    <%= label_tag "End Date" %>
    <%= date_field_tag :end_date %>
  </div>
  <%= f.submit 'Filter' %>
<% end %>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date of Sale</th>
      <th>Subtotal</th>
      <th>Total</th>
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.date_of_sale %></td>
        <td><%= order.subtotal %></td>
        <td><%= order.total %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
