<!DOCTYPE html>
<html>
  <head>
    <title>Hidden Gem</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track'=> 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track'=> 'reload' %>

  </head>

  <body>
  <div>
    <center>
    <h1>Hidden Gem</h1>
    <%=link_to"Users", users_path%>
    <%=link_to"Menu Items", menu_items_path%>
    <%=link_to"Orders", orders_path%>
    </center>
  </div>
    <%= yield %>
  </body>
</html>
